

!pip install cobra
     
Collecting cobra
  Downloading cobra-0.30.0-py2.py3-none-any.whl.metadata (9.3 kB)
Collecting appdirs~=1.4 (from cobra)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl.metadata (9.0 kB)
Collecting depinfo~=2.2 (from cobra)
  Downloading depinfo-2.2.0-py3-none-any.whl.metadata (3.8 kB)
Collecting diskcache~=5.0 (from cobra)
  Downloading diskcache-5.6.3-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: future in /usr/local/lib/python3.12/dist-packages (from cobra) (1.0.0)
Requirement already satisfied: httpx~=0.24 in /usr/local/lib/python3.12/dist-packages (from cobra) (0.28.1)
Requirement already satisfied: numpy>=1.13 in /usr/local/lib/python3.12/dist-packages (from cobra) (2.0.2)
Collecting optlang~=1.8 (from cobra)
  Downloading optlang-1.8.3-py2.py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: pandas<3.0,>=1.0 in /usr/local/lib/python3.12/dist-packages (from cobra) (2.2.2)
Requirement already satisfied: pydantic>=1.6 in /usr/local/lib/python3.12/dist-packages (from cobra) (2.12.3)
Collecting python-libsbml~=5.19 (from cobra)
  Downloading python_libsbml-5.21.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (666 bytes)
Requirement already satisfied: rich>=8.0 in /usr/local/lib/python3.12/dist-packages (from cobra) (13.9.4)
Collecting ruamel.yaml~=0.16 (from cobra)
  Downloading ruamel_yaml-0.19.1-py3-none-any.whl.metadata (16 kB)
Collecting swiglpk (from cobra)
  Downloading swiglpk-5.0.13-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (5.7 kB)
Requirement already satisfied: anyio in /usr/local/lib/python3.12/dist-packages (from httpx~=0.24->cobra) (4.12.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx~=0.24->cobra) (2026.1.4)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx~=0.24->cobra) (1.0.9)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from httpx~=0.24->cobra) (3.11)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore==1.*->httpx~=0.24->cobra) (0.16.0)
Requirement already satisfied: sympy>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from optlang~=1.8->cobra) (1.14.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas<3.0,>=1.0->cobra) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas<3.0,>=1.0->cobra) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas<3.0,>=1.0->cobra) (2025.3)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.6->cobra) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.6->cobra) (2.41.4)
Requirement already satisfied: typing-extensions>=4.14.1 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.6->cobra) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=1.6->cobra) (0.4.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from rich>=8.0->cobra) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.12/dist-packages (from rich>=8.0->cobra) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.12/dist-packages (from markdown-it-py>=2.2.0->rich>=8.0->cobra) (0.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas<3.0,>=1.0->cobra) (1.17.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from sympy>=1.12.0->optlang~=1.8->cobra) (1.3.0)
Downloading cobra-0.30.0-py2.py3-none-any.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 18.1 MB/s eta 0:00:00
Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Downloading depinfo-2.2.0-py3-none-any.whl (24 kB)
Downloading diskcache-5.6.3-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.5/45.5 kB 3.0 MB/s eta 0:00:00
Downloading optlang-1.8.3-py2.py3-none-any.whl (141 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.8/141.8 kB 8.9 MB/s eta 0:00:00
Downloading python_libsbml-5.21.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (8.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.1/8.1 MB 55.7 MB/s eta 0:00:00
Downloading ruamel_yaml-0.19.1-py3-none-any.whl (118 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 118.1/118.1 kB 5.5 MB/s eta 0:00:00
Downloading swiglpk-5.0.13-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (2.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 49.0 MB/s eta 0:00:00
Installing collected packages: swiglpk, python-libsbml, appdirs, ruamel.yaml, diskcache, depinfo, optlang, cobra
Successfully installed appdirs-1.4.4 cobra-0.30.0 depinfo-2.2.0 diskcache-5.6.3 optlang-1.8.3 python-libsbml-5.21.0 ruamel.yaml-0.19.1 swiglpk-5.0.13

import cobra
from cobra.io import read_sbml_model, write_sbml_model
     

model = read_sbml_model('iYO844_fucosyl.xml')
     

model.reactions.EX_lcts_e.bounds = -1000,0
model.reactions.EX_sucr_e.bounds = -5,0
model.summary()
     
Objective
1.0 BIOMASS_BS_10 = 0.624184814632024

Uptake
Metabolite	Reaction	Flux	C-Number	C-Flux
ca2_e	EX_ca2_e	0.002001	0	0.00%
fe3_e	EX_fe3_e	0.002153	0	0.00%
k_e	EX_k_e	0.4409	0	0.00%
mg2_e	EX_mg2_e	0.06349	0	0.00%
nh4_e	EX_nh4_e	5	0	0.00%
o2_e	EX_o2_e	17.59	0	0.00%
pi_e	EX_pi_e	0.958	0	0.00%
so4_e	EX_so4_e	0.1063	0	0.00%
sucr_e	EX_sucr_e	4.778	12	100.00%
Secretion
Metabolite	Reaction	Flux	C-Number	C-Flux
ac_e	EX_ac_e	-7.981	2	45.60%
co2_e	EX_co2_e	-19.04	1	54.40%
glyclt_e	EX_glyclt_e	-0.0002291	2	0.00%
h2o_e	EX_h2o_e	-24.26	0	0.00%
h_e	EX_h_e	-12.04	0	0.00%

import pandas as pd
import numpy as np
from cobra.sampling import OptGPSampler, ACHRSampler
import time

total_start_time = time.time()

optgp = OptGPSampler(model, thinning=10000, processes=10)

samples = optgp.sample(20000)

valid_mask = optgp.validate(samples) == "v"
samples_valid = samples[valid_mask]

samples_prod = samples_valid[samples_valid["EX_fucolcts_e"] > 1e-6]

samples_valid.to_csv("dflux_sampling_20000_v2.csv")
samples_prod.to_csv("flux_sampling_fucolcts_e_20000_v2.csv")

# print(f"Final number of samples: {len(samples_prod)}")

total_end_time = time.time()
elapsed_time = total_end_time - total_start_time

print(f"Final number of samples: {len(samples_prod)}")
print(f"Total execution time: {elapsed_time:.2f} seconds")
     
